.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  padding: 24px;
  padding-bottom: 0;

  @media only screen and (min-width: 650px) {
    padding: 0 0 0 39px;
  }

  @media only screen and (min-width: 1000px) {
    margin-top: 40px;
    margin: 40px auto 0 auto;
    padding: 0 0 0 55px;
    max-width: 1440px;
  }
}

.logo {
  @media only screen and (max-width: 649px) {
    position: relative;
    z-index: 10;
    width: 40px;
    height: 40px;
  }
}

.navIconWrapper {
  @media only screen and (max-width: 649px) {
    position: relative;
    z-index: 10;
    cursor: pointer;
  }

  @media only screen and (min-width: 650px) {
    display: none;
    visibility: hidden;
  }
}

.layout {
  display: none;
  visibility: hidden;

  @media only screen and (max-width: 649px) {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    visibility: hidden;
  }

  @media only screen and (min-width: 650px) {
    display: revert;
    visibility: revert;
    width: 471px;
    height: 1px;
    background-color: var(--color-white);
    opacity: 0.25;

    position: absolute;
    top: 50%;
    left: 125px;
    transform: translateY(-50%);
  }

  @media only screen and (min-width: 1000px) {
    left: 167px;
  }
}

.open .layout {
  @media only screen and (max-width: 649px) {
    display: revert;
    visibility: revert;
  }
}

.nav {
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40px);

  @media only screen and (max-width: 649px) {
    position: fixed;
    top: 0;
    right: -254px;
    z-index: 5;

    width: 254px;
    height: 100vh;

    transition: right 0.2s ease-in-out;
  }
}

.open .nav {
  @media only screen and (max-width: 649px) {
    right: 0;
  }
}

.overflow_hidden {
  @media only screen and (max-width: 649px) {
    overflow: hidden;
  }
}

.ul {
  list-style: none;

  @media only screen and (max-width: 649px) {
    padding: 118px 0 0 32px;
  }

  @media only screen and (min-width: 650px) {
    display: flex;
    padding: 0 33px 0 33px;
    box-shadow: -4px 4px 16px 3px #0b0d1766;
  }

  @media only screen and (min-width: 1000px) {
    padding: 0 80px 0 80px;
  }

  @media only screen and (min-width: 1130px) {
    padding: 0 145px 0 103px;
  }
}

.li {
  position: relative;
  transition: opacity 0.15s ease-in-out;

  &:not(:last-child) {
    @media only screen and (max-width: 649px) {
      margin-bottom: 32px;
    }

    @media only screen and (min-width: 650px) {
      margin-right: 7px;
    }

    @media only screen and (min-width: 1000px) {
      margin-right: 8px;
    }
  }

  &::after {
    @media only screen and (min-width: 650px) {
      content: "";
      position: absolute;
      z-index: 15;

      width: 36px;
      height: 3px;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;

      background-color: var(--color-white);
      opacity: 0.5;
    }

    @media only screen and (min-width: 1000px) {
      width: 70px;
    }
  }
}

.li:hover {
  &::after {
    opacity: 1;
  }
}

.link,
.link:link,
.link:visited {
  font-family: var(--font-barlow-con);
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-white);
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  display: block;

  @media only screen and (min-width: 650px) {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
    padding: 39px 15px;
    display: inline-block;

    @media only screen and (min-width: 1000px) {
      padding: 39px 20px;
    }
  }

  @media only screen and (min-width: 1000px) {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
  }
}

.num {
  display: inline-block;
  width: 18px;
  font-weight: 700;
  margin-right: 11px;

  @media only screen and (min-width: 650px) {
    display: none;
    visibility: hidden;
  }

  @media only screen and (min-width: 1000px) {
    display: revert;
    visibility: revert;
  }
}

.linkText {
  font-weight: 400;
}
