// // // // // // // // // //

.bg {
    position: fixed;
    z-index: -2;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    background-image: url(./../assets/technology/background-technology-mobile.jpg);
    background-size: cover;
    background-position: center;

    @media only screen and (min-width: 600px) {
        background-image: url(./../assets/technology/background-technology-tablet.jpg);
    }

    @media only screen and (min-width: 1000px) {
        background-image: url(./../assets/technology/background-technology-desktop.jpg);
    }
}

// .main {}

.section {
    margin-top: 24px;
    margin-bottom: 81px;

    @media only screen and (min-width: 600px) {
        margin-top: 40px;
        margin-bottom: 97px;
    }
}

// // // // // // // // // //

.title {
    font-family: var(--font-barlow-con);
    color: var(--color-white);
    text-transform: uppercase;
    text-align: center;

    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;

    margin-bottom: 32px;

    @media only screen and (min-width: 600px) {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 3.375px;

        text-align: left;
        padding-left: 38.5px;
        margin-bottom: 60px;
    }

    &Num {
        font-weight: 700;
        opacity: 0.25;
        margin-right: 16px;
    }

    &Text {
        font-weight: 400;
    }
}

// // // // // // // // // //

.imgBox {
    margin-bottom: 34px;
    max-width: 768px;
    margin: 0 auto;

    @media only screen and (min-width: 600px) {
        margin-bottom: 56px;
    }
}

.img {
    width: 100%;
}

// // // // // // // // // //

.linkBox {
    display: flex;
    justify-content: center;
    margin-bottom: 26px;

    @media only screen and (min-width: 600px) {
        margin-bottom: 44px;
    }
}

.link,
.link:link,
.link:visited {
    font-family: var(--font-bellef);
    color: var(--color-white);
    text-decoration: none;

    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.25);
    transition: border 0.15s ease-in;

    &:hover {
        border: 1px solid var(--color-white);
    }

    &:not(:last-child) {
        margin-right: 16px;
    }

    @media only screen and (min-width: 600px) {
        font-size: 24px;
        line-height: 28px;
        width: 60px;
        height: 60px;
    }
}

// // // // // // // // // //

.contentBox {
    color: var(--color-white);
    text-align: center;
    padding: 0 24px;
    max-width: 540px;
    margin: 0 auto;

    @media only screen and (min-width: 600px) {
        max-width: 538px;
        padding: 0 40px;
    }
}

.term {
    font-family: var(--font-barlow-con);
    color: var(--color-blue);
    text-transform: uppercase;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;

    margin-bottom: 9px;

    @media only screen and (min-width: 600px) {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2.7px;
        margin-bottom: 16px;
    }
}

.h1 {
    font-family: var(--font-bellef);
    color: var(--color-white);
    text-transform: uppercase;

    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    margin-bottom: 16px;

    @media only screen and (min-width: 600px) {
        font-size: 40px;
        line-height: 46px;
    }
}

.p {
    font-family: var(--font-barlow);
    color: var(--color-blue);
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;

    @media only screen and (min-width: 600px) {
        font-size: 16px;
        line-height: 28px;
    }
}

// // // // // // // // // //
