/* // // // // // */

:root {
    --font-bellef: 'Bellefair', serif;
    --font-barlow: 'Barlow', sans-serif;
    --font-barlow-con: 'Barlow Condensed';

    --color-white: hsla(0, 0%, 100%, 1);
    --color-black: hsla(230, 35%, 7%, 1);
    --color-blue: hsla(231, 77%, 90%, 1);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* // // // // // */

li:has(a.active)::after {
    content: '';
    position: absolute;
    z-index: 15;
    background-color: var(--color-white);
    opacity: 1;
}

@media only screen and (max-width: 649px) {
    li:has(a.active)::after {
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 4px;
        height: 31px;
    }
}

@media only screen and (min-width: 650px) {
    li:has(a.active)::after {
        width: 36px;
        height: 3px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }
}

@media only screen and (min-width: 1000px) {
    li:has(a.active)::after {
        width: 70px;
    }
}

/* // // // // // */
